.attendance-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.attendance {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  background: #eee;
  padding: 20px;
}
.groups-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.groups-cards-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.groups-cards-hr {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 80%;
  width: 100%;
}
.groups-cards-hr .groups-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.groups-cards .groups-card {
  font-weight: 600;
  font-size: 18px;
  position: relative;
}
.groups-cards .groups-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6b52b2;
  bottom: -10px;
  left: 0;
}
.groups-cards-btn .groups-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 150px;
  width: 100%;
  background: none;
  border-style: dashed;
  border-color: #aaa;
  color: #aaa;
  cursor: pointer;
}
.groups-table-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.table-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groups-teacher {
  display: flex;
  gap: 40px;
  align-items: center;
}
.groups-teacher .teacher-about {
  font-weight: 700;
  letter-spacing: 1px;
}
.groups-teacher .new-groups-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  border: 1px solid #55b963;
  color: #55b963;
  background: none;
  cursor: pointer;
}
.davomat-dates {
  display: flex;
  align-items: center;
  gap: 10px;
}
.davomat-dates .date-input {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: none;
}

/* table */
.davomat-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.davomat-table th,
.davomat-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #e2e2e2;
}
.davomat-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.davomat-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.davomat-table tbody tr:last-of-type {
  border-bottom: 2px solid #aaa;
}

.davomat-table tbody tr:hover {
  background-color: #f1f1f1;
}
.th-familiya-ism,
.td-familiya-ism {
  display: flex;
  gap: 10px;
  align-items: center;
}
.table-dots-icon {
  font-size: 18px;
  cursor: pointer;
}
.table-item {
  position: relative;
}
.table-item .davomat-change {
  position: absolute;
  right: 5px;
  top: 5px;
}
